<div class="login-form">

    <form class="custom-login">
        <h2>Reset your password</h2>
        <p class="px-3 pb-5">Enter address associated with your SprintNXT Business account
            and we’ll send you a link to reset your password</p>

        <div class="form-group position-relative ">
            <label>Registered Business Email ID<span>*</span></label>
            <input type="name" class="form-control" id="" placeholder="Enter Email ID">
            <div class="input-group-prepend">
                <span class="input-group-text border-0 bg-transparent"><img src="assets/img/email.png"></span>
            </div>
        </div>

        <!-- <div class="captcha my-5">
            <div class=" d-flex align-items-center justify-content-between p-3">
                <div class="form-group mb-0 d-flex align-items-center">
                    <input type="checkbox" id="robot">
                    <label for="robot" class="mb-0">I'm not a robot</label>
                </div>


                <div class="logo">
                    <img src="assets/img/refresh.png">

                </div>
            </div>
        </div> -->

        <button type="submit" class="btn login-btn w-100 border-0">Send OTP</button>

    </form>
</div>