.custom-login {
    width: 527px;

    p {
        font-weight: $font-weight-normal;
        color: $gray-color;
        font-size: 16px;
    }
    .login-btn{margin-top: 6rem;}
}

.captcha {
    width: 477px;
    height: 85px;
    background: $light-white;
    border: 2px solid $light-greye;
    border-radius:$border-radius-box1;
    margin: auto;

    .form-group {
        input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;
        }

        label {
            position: relative;
            cursor: pointer;
            font-size: 24px;

            &:before {
                content: "";
                -webkit-appearance: none;
                background-color:$white;
                border: 2px solid $light-greye;
                padding: 11px;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                cursor: pointer;
                margin-right: 15px;
                border-radius:$border-radius-box2;
            }




        }

        input:checked+label:after {
            content: '';
            display: block;
            position: absolute;
            top: 11px;
            left: 9px;
            width: 6px;
            height: 14px;
            border: solid$base-color;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }



}

