<div class="login-sec">
    <div class="container-fluid">
        <div class="row">

            <!-- AUTH TEMPLATE LEFT-->
            <div class="col-12 col-lg-6 p-0">
                <div class="login-left">

                    <div class="login-left-in ml-5">
                        <div class="logo">
                            <img src="assets/img/logo.png">
                        </div>
                        <h1 class="mr-2">Why Choose Us?</h1>
                        <div class="stepper d-flex flex-column mt-5">
                            <div class="d-flex">
                                <div class="d-flex flex-column pr-5 align-items-center">
                                    <div class="rounded-circle circle-white text-white">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_553_95646)">
                                                <path
                                                    d="M23.4423 3.92468C22.6998 3.18112 21.494 3.18159 20.7504 3.92468L8.63489 16.0407L3.25006 10.6559C2.5065 9.91234 1.30122 9.91234 0.557665 10.6559C-0.185888 11.3994 -0.185888 12.6047 0.557665 13.3483L7.28841 20.079C7.65995 20.4506 8.14714 20.6368 8.63437 20.6368C9.1216 20.6368 9.60926 20.451 9.9808 20.079L23.4423 6.61702C24.1859 5.87398 24.1859 4.66818 23.4423 3.92468Z"
                                                    fill="#B81F22" />
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_553_95646">
                                                    <rect width="24" height="24" fill="white" />
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </div>
                                    <div class="line"></div>
                                </div>
                                <div>
                                    <p class="lead">Lorem ipsum dolor sit amet consectetur.</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="d-flex flex-column pr-5 align-items-center">
                                    <div class="rounded-circle circle-white text-white">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_553_95646)">
                                                <path
                                                    d="M23.4423 3.92468C22.6998 3.18112 21.494 3.18159 20.7504 3.92468L8.63489 16.0407L3.25006 10.6559C2.5065 9.91234 1.30122 9.91234 0.557665 10.6559C-0.185888 11.3994 -0.185888 12.6047 0.557665 13.3483L7.28841 20.079C7.65995 20.4506 8.14714 20.6368 8.63437 20.6368C9.1216 20.6368 9.60926 20.451 9.9808 20.079L23.4423 6.61702C24.1859 5.87398 24.1859 4.66818 23.4423 3.92468Z"
                                                    fill="#B81F22" />
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_553_95646">
                                                    <rect width="24" height="24" fill="white" />
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </div>
                                    <div class="line"></div>
                                </div>
                                <div>
                                    <p class="lead">Lorem ipsum dolor sit</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="d-flex flex-column pr-5 align-items-center">
                                    <div class="rounded-circle circle-white text-white">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_553_95646)">
                                                <path
                                                    d="M23.4423 3.92468C22.6998 3.18112 21.494 3.18159 20.7504 3.92468L8.63489 16.0407L3.25006 10.6559C2.5065 9.91234 1.30122 9.91234 0.557665 10.6559C-0.185888 11.3994 -0.185888 12.6047 0.557665 13.3483L7.28841 20.079C7.65995 20.4506 8.14714 20.6368 8.63437 20.6368C9.1216 20.6368 9.60926 20.451 9.9808 20.079L23.4423 6.61702C24.1859 5.87398 24.1859 4.66818 23.4423 3.92468Z"
                                                    fill="#B81F22" />
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_553_95646">
                                                    <rect width="24" height="24" fill="white" />
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </div>
                                    <div class="line"></div>
                                </div>
                                <div>
                                    <p class="lead">Lorem ipsum dolor sghgit amet</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="d-flex flex-column pr-5 align-items-center">
                                    <div class="rounded-circle circle-white text-white">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_553_95646)">
                                                <path
                                                    d="M23.4423 3.92468C22.6998 3.18112 21.494 3.18159 20.7504 3.92468L8.63489 16.0407L3.25006 10.6559C2.5065 9.91234 1.30122 9.91234 0.557665 10.6559C-0.185888 11.3994 -0.185888 12.6047 0.557665 13.3483L7.28841 20.079C7.65995 20.4506 8.14714 20.6368 8.63437 20.6368C9.1216 20.6368 9.60926 20.451 9.9808 20.079L23.4423 6.61702C24.1859 5.87398 24.1859 4.66818 23.4423 3.92468Z"
                                                    fill="#B81F22" />
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_553_95646">
                                                    <rect width="24" height="24" fill="white" />
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </div>
                                    <div class="line"></div>
                                </div>
                                <div>
                                    <p class="lead">Lorem ipsum dolor sit amet</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="d-flex flex-column pr-5 align-items-center">
                                    <div class="rounded-circle circle-white text-white">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_553_95646)">
                                                <path
                                                    d="M23.4423 3.92468C22.6998 3.18112 21.494 3.18159 20.7504 3.92468L8.63489 16.0407L3.25006 10.6559C2.5065 9.91234 1.30122 9.91234 0.557665 10.6559C-0.185888 11.3994 -0.185888 12.6047 0.557665 13.3483L7.28841 20.079C7.65995 20.4506 8.14714 20.6368 8.63437 20.6368C9.1216 20.6368 9.60926 20.451 9.9808 20.079L23.4423 6.61702C24.1859 5.87398 24.1859 4.66818 23.4423 3.92468Z"
                                                    fill="#B81F22" />
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_553_95646">
                                                    <rect width="24" height="24" fill="white" />
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </div>
                                </div>
                                <div>
                                    <p class="lead">Lorem ipsum dolor sit amet consectetur. Semper.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- AUTH TEMPLATE LEFT ENDS -->

            <!-- RIGHT SIDE CHANING PANEL -->
            <div class="col-12 col-lg-6">
                <div class="login-right d-flex align-items-center flex-wrap justify-content-center">

                    <div class="login-btns">
                        <button type="submit" class="btn active me-3" (click)="topSingupButton()">Sign Up</button>
                        <button type="submit" class="btn" (click)="topLoginButton()">Login</button>
                    </div>

                    <router-outlet></router-outlet>

                </div>
            </div>
            <!-- RIGHT SIDE CHANING PANEL ENDS-->

        </div>

    </div>
</div>